<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
  </head>
  <body style="font-family: 'Montserrat', sans-serif;">
    <div class="container" 
    style="width:100%;
      padding:0px">
      <!-- <div class="page-header">
      </div> -->
      <div style="
        background:url('https://s3-us-west-1.amazonaws.com/vita-detective/medications-cure-tablets-pharmacy-56612.jpeg') no-repeat center center;
        background-size:100% auto;
        height:80%;
      ">
      
      <p class="text-center" 
      style="
        margin-left:5%;
        margin-bottom:2.6%;
        padding-top:5%;
        font-weight:bold;
        font-size:6em;">
      VITA-DETECTIVE
      <img src="https://s3-us-west-1.amazonaws.com/vita-detective/pill-identifier-pill-finder.png" 
       class="img-fluid float-right" style="width:10%;" alt="Responsive image"/>
      </p>
      
            <% if (authorize_url) { %>
            <a href="<%= authorize_url %>" class="btn center-block btn-default"
              style="
                background-color:#355057;
                color:#fff;
                font-size: 1.5em;
                margin-top:2%;
                margin-bottom:18.5%;
                width:30%;
                border-color:rgba(0,0,0,0.15);
                border-bottom-width:2px;">
                
                Get Recommendations
            </a>
            <% } %>
    </div>

    </div>
  </body>
</html>
